@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorRed: #cf3c3f;
    --colorLightGray: #ececec;
    --colorDeepGray: #3a3a3a;
    --colorMediumGray: #a7a7a7;
    --colorWhite: #fff;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

main {
    display: flex;
}

.section-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
}

.logo {
    width: 130px;
    margin-bottom: 80px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    color: var(--colorDeepGray);
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

.login-user {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.input-label {
    position: absolute;
    top: 12px;
    left: 15px;
    color: var(--colorMediumGray);
    font-size: 0.9em;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
}

.input {
    width: 100%;
    border: 2px solid transparent;
    background-color: var(--colorLightGray);
    border-radius: 5px;
    color: var(--colorDeepGray);
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    margin-bottom: 8px;
}

.input:focus {
    background-color: var(--colorWhite);
    border: 2px solid var(--colorDeepGray);
}

.input:not(:placeholder-shown) + .input-label {
    opacity: 0;
}

.login-btn {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--colorRed);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
