@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

main {
    display: flex;
}

.section-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
}

.section-login .logo {
    width: 130px;
    margin-bottom: 80px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    color: #3a3a3a;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

.login-user {
    display: flex;
    position: relative;
    width: 100%;
}

.login-user span {
    position: absolute;
    color: #a7a7a7;
    font-size: 0.8em;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: text;
    transition: opacity 0.3s;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid transparent;
    background-color: #ececec;
    border-radius: 5px;
    color: #3a3a3a;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    margin-bottom: 8px;
}

.input:focus {
    background-color: #f9f9f9;
    border: 2px solid #3a3a3a;
}

.input:not(:placeholder-shown) + span {
    opacity: 0;
}

.login-btn {
    width: 60px;
    height: 60px;
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 20px;
    border: none;
    background-color: #cf3c3f;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn:disabled {
    cursor: auto;
    background-color: white;
    border: 2px solid #c4c4c4;
}
